*{
	margin: 0;
	padding: 0;
}
body{
	width:100%;
	height:100%;
	background-size: 100% 100%;
	margin: 0;
	padding: 0;
}
.container{
	margin-left:auto;
	margin-right:auto;
	display: block;
	padding:auto auto;
	padding-top:5%;
}
.start{
	margin-left:auto;
	margin-right:auto;
	display: block;
	text-align: center;
	position: relative;
	z-index: 55;
	padding-top: 10%;
}
.login{
	margin-left:auto;
	margin-right:auto;
	display: block;
	padding:auto auto;
}
.form-signin{
	width: 250px;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	display: block;
}
.modal fade{
	margin-left:auto;
	margin-right:auto;
	display: block;
	padding:auto auto;
}



.iframe{
	width:100%;
	overflow: hidden;
	height:100%;
}

#addStaff thead tr th{
	text-align: center;
}
#addStaff tbody tr td input{
	width:100px;
	height: 30px;
}
#addStaff tbody tr td select{
	width:100px; 
	height:30px;
	font-size: 12px;
}


